<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: deepskyblue;}
        h1{color: blue;}
        button{background-color: rgb(95, 221, 246);color: rgb(13, 55, 144);padding: 6px;font-size: 15px;cursor: pointer;}
    </style>
</head>
<body>
    <h1>EDIT PROFILE</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Save</button>
    </form>
</body>
</html>
