<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{color:rgb(48, 21, 157);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        a{text-decoration: none;color:rgb(0, 4, 211);font-weight: bold;font-size: 18px;}
    </style>
</head>
<body bgcolor="turquoise">
    <h1>Registration Successful !</h1>
    <h3>Login to continue</h3>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>
